body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.custom-datepicker .MuiPickersBasePicker-root {
  width: 100vw !important;
  /* Set the desired width */
}

.MuiPickersDay-daySelected {
  color: red !important;
}

/* Change the background color of the date picker popup */
.custom-date-picker-popover {
  background-color: yellow !important;
}

/* Change the overall appearance of the date picker */
.custom-date-picker {
  border: 2px solid green !important;
}